body {
  background-color: yellow;
}

.section {
  background-color: lightgreen;

  height: 20rem;
}

#paragraph-1 {
  color: darkslateblue;
  background-color: whitesmoke;
}

#paragraph-2 {
  color: darkslateblue;
  background-color: darkorange;
}

#paragraph-3 {
  color: white;
  background-color: royalblue;
}
