body {
  background-color: yellow;
}

.section {
  background-color: lightgreen;

  height: 20rem;
}

#paragraph-1 {
  color: rgb(236, 178, 30);
  background-color: black;
}

#paragraph-2 {
  color: red;
  background-color: rgb(240, 204, 159);
}

#paragraph-3 {
  color: white;
  background-color: royalblue;
}
